<div class="col-lg-4 col-centered box-container-4" style="padding-top:2em;">

  <div class="row" style="padding:0">
    <div class="alert alert-{{status}}" *ngIf="message" [@fadeInOut]>
      <span class="glyphicon glyphicon-{{ status =='success' ? 'ok' : 'remove'}}"></span>
      {{message}}
    </div>
  </div>

  <form #loginForm="ngForm" (ngSubmit)="login()" class="row box-dark" [@fadeOutform] *ngIf="!needVerifyTwoFactor">
    <div [@fadeOutform] *ngIf="status != 'success'">
      <div class="form-group">
        <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Email" class="form-control-dark"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
        <div class="form-control-error pull-right" *ngIf="!email.valid && email.touched">
          <span class="glyphicon glyphicon-remove"></span>
        </div>
        <div class="form-control-success pull-right" *ngIf="email.valid && email.touched">
          <span class="glyphicon glyphicon-ok"></span>
        </div>
      </div>
      <div class="form-group">
        <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="Password" class="form-control-dark"
          pattern=".{3,50}" required/>
        <div class="form-control-error pull-right" *ngIf="!password.valid && password.touched">
          <span class="glyphicon glyphicon-remove"></span>
        </div>
        <div class="form-control-success pull-right" *ngIf="password.valid && password.touched">
          <span class="glyphicon glyphicon-ok"></span>
        </div>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-dark pull-right" [disabled]="!loginForm.form.valid" value="Login" />
        <a href="#" class="a-recover-password">Recover Password</a>
      </div>

    </div>

  </form>

  <form #verifyForm="ngForm" (ngSubmit)="loginTwoFactor()" class="row box-dark " [@fadeOutform] *ngIf="needVerifyTwoFactor">

    <div class="form-group">
      <input type="text" name="code" #code="ngModel" [(ngModel)]="verifyCode" placeholder="Pin code" class="form-control-dark"
        pattern="^(0|[1-9][0-9]*)$" required/>
      <div class="form-control-error pull-right" *ngIf="!code.valid && code.touched">
        <span class="glyphicon glyphicon-remove"></span>
      </div>
      <div class="form-control-success pull-right" *ngIf="code.valid && code.touched">
        <span class="glyphicon glyphicon-ok"></span>
      </div>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-dark pull-right" [disabled]="!verifyForm.form.valid" value="Verify" />
    </div>
    <div class="clearfix"></div>
  </form>
</div>
