.container-wallets {
  max-width: 1200px;
}
.price-eth-container {
  padding: 6em 0 3em 0;
  background: white;
  background-image: url(/assets/img/ethereum.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: bottom;
}
.col-price-info {
  color: #3e486d;
}
.col-price-info .glyphicon {
  text-align: center;
  font-size: 3.2em;
  margin-right: 0.3em;
}
.col-price-info .text-price-info {
  text-align: center;
  font-size: 4em;
}
@media screen and (max-width: 991px) {
  .price-eth-container {
      background-image: none;
  }
  .navbar-header .navbar-nav {
      float: none !important;
  }
}
#wallets-nav .navbar-nav-movile {
  display: none;
}
@media screen and (max-width: 730px) {
  #wallets-nav .navbar-nav {
      display: none;
  }
  #wallets-nav .navbar-nav-movile {
      display: inline-flex;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
  }
  #wallets-nav .navbar-nav-movile li {
      width: 33%;
      padding: 0.5em;
      font-size: 1.5em;
  }
  .navbar-header {
      width: 100%;
      margin: 0;
      text-align: center;
      font-size: 2em;
  }
  .navbar-header .navbar-nav {
      float: none !important;
  }
  .price-eth-container {
      padding: 2em 0 1em 0;
      border-bottom: 1px solid #3e486d;
  }
}
